@model EvolucionaMovil.Models.SimpleGridResult<EvolucionaMovil.Models.AbonoVM>
@section Javascript{
    <script src="@Url.Content("~/Scripts/Depositos.js")" type="text/javascript"></script>
}

@{
    ViewBag.Title = "Index";
}
<div  class="resumen fl">
    <h1>Despósitos</h1>
    <h2>Reportes realizados</h2>
</div>
<form action="/Depositos" method="post"></form>
<div  class="resumen fr saldos">

</div>
<div class="clear"></div>
<div id="filtros">

    <div class="fr">
        <label for="fechaInicio">
            Filtrar del
        </label>
        <input type="text" class="small" id="fechaInicio" value="@ViewBag.FechaInicio" />
        al
        <input class="small" type="text" id="fechaFin" value="@ViewBag.FechaFin"/>
        Buscar
        <input class="small" type="text" id="searchString" /><input type="button" id="search" /><input
            type="submit" id="Actualizar" class="freshbutton-blue small" value="Actualizar" />
    </div>
    <div class="fl">
        Últimos
        <input type="text" id="pageSize" class="small" value="@ViewBag.PageSize"/>
        movimientos
        <input type="checkbox" class="small" id="aplicadosOnly" @(ViewBag.OnlyAplicados ? "Checked" : "")/>
        <label id="lblAplicadosOnly" for="aplicadosOnly">Sólo aplicados</label>
      </div>
</div>
<input type="hidden" id="hddData" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)" />
<div id="grdDepositos" />