@using EvolucionaMovil.Models.Enums
@model EvolucionaMovil.Models.SimpleGridResult<EvolucionaMovil.Models.DepositoVM>
@section Javascript{
    <script src="@Url.Content("~/Scripts/jquery.formatCurrency.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Depositos.js")" type="text/javascript"></script>
}
@{
    ViewBag.Title = "Index";
}
<div  class="resumen fl">
    <h1>Despósitos</h1>
    <h2>Reportes realizados</h2>
</div>
<form action="/Depositos" method="post">
        @if (HttpContext.Current.User.IsInRole(enumRoles.Staff.ToString()) || HttpContext.Current.User.IsInRole(enumRoles.Administrator.ToString()))
        {
        <div class="resumen fr saldos">
                <div class="editor-label small">
                    <label for="PayCenterName">PayCenters</label>
                </div>        
                <div class="editor-field">
                    <input type="text" class="small filtropaycenter" id="PayCenterName" value="@ViewBag.PayCenterName" name="PayCenterName" />
                    <input type="hidden" id="hddPayCenterId" name="PayCenterId" value="@ViewBag.PayCenterId" />
                </div>            
        </div>
         <div class="resumen fr saldos">
                <div class="editor-label small">
                    <label for="ProveedorName">Proveedores</label>
                </div>        
                <div class="editor-field">
                    <input type="text" class="small filtropaycenter" id="ProveedorName" value="@ViewBag.ProveedorName" name="ProveedorName" />
                    <input type="hidden" id="hddProveedorId" name="ProveedorId" value="@ViewBag.ProveedorId" />
                </div> 

         </div>
        }
    <div class="clear"></div>
    <div id="filtros">

        <div class="fr">
            <label for="fechaInicio">
                Filtrar del
            </label>
            <input type="text" class="small" id="fechaInicio" name="fechaInicio" value="@ViewBag.FechaInicio" />
            al
            <input class="small" type="text" id="fechaFin" name="fechaFin" value="@ViewBag.FechaFin"/>
            Buscar
            <input class="small" type="text" name="searchString" id="searchString" value="@ViewBag.searchString" /><input type="button" id="search" /><input
                type="submit" id="Actualizar" class="freshbutton-blue small" value="Actualizar" />
        </div>
        <div class="fl">
            Últimos
            <input type="text" id="pageSize" name="pageSize" class="small" value="@ViewBag.PageSize"/>
            movimientos
            <input type="checkbox" class="small" id="aplicadosOnly" @(ViewBag.OnlyAplicados ? "Checked" : "")/>
            <label id="lblAplicadosOnly" for="aplicadosOnly">Sólo aplicados</label>
          </div>
    </div>
</form>
<input type="hidden" id="hddData" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)" />
<div id="grdDepositos" />