@model EvolucionaMovil.Models.ProspectoVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Prospecto</legend>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">Empresa</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Empresa)
    </div>

    <div class="display-label">Comentario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comentario)
    </div>

    <div class="display-label">Telefono</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono)
    </div>

    <div class="display-label">Celular</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Celular)
    </div>

    <div class="display-label">FechaCreacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaCreacion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProspectoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
