@model IEnumerable<EvolucionaMovil.Models.PaqueteVM>
@section Javascript{
    <script src="@Url.Content("~/Scripts/Paquetes-comprar.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.formatCurrency.js")" type="text/javascript"></script>
}
@{
    ViewBag.Title = "Confirmar compra";
}
@using (Html.BeginForm("Confirm", "Paquetes", FormMethod.Post))
{
<div class="w700 center">
    <div >
        <h1>Confirmación de compra</h1>
        <h2>¿Está seguro que desea comprar los siguiente paquetes?</h2>
    </div>
    <div class="clear"></div>
    <div id="grdPaquetes">
        <div class="sgBody">
        @{var i = -1;}

        @foreach (var item in Model)
        {
            i++;
            <div class="sgRow">
                <span class="paq-name">Paquete @item.NumeroPaquete</span>
                <span class="paq-eventos">Eventos <span class="fcb">@item.Creditos</span></span>
                <span class="paq-precioevento">Precio por Evento <span class="fcb">@item.PrecioPorEvento</span></span>
                <span class="paq-precio">Precio <span class="fcb">@item.PrecioString</span></span>
                <input type="hidden" name="[@i].PaqueteId" value="@item.PaqueteId" />
                <input type="hidden" name="[@i].Precio" value="@item.Precio" />
                <input type="hidden" name="[@i].Creditos" value="@item.Creditos" />
                <input type="hidden" name="[@i].NumeroPaquete" value="@item.NumeroPaquete" />
            </div>
        }
        </div>
    </div>
    @if (ViewBag.Succeed != null && ViewBag.Succeed)
    {        
        <a class="freshbutton-blue" href="Buy">Seguir comprando</a>
    }
    else
    {        
        <div  class="fr">
            <h2>Total de la compra = <span class="fwb">@ViewData["TotalCompra"]</span></h2>
        </div>
        <div  class="resumen fr saldos">
            <h3>Saldo Actual = <span class="fwb">@ViewData["SaldoActual"]</span></h3>
            <h3>Saldo final     = <span class="fwb">@ViewData["SaldoActualFinal"]</span></h3>
        </div>
        <div  class="resumen fr saldos">
            <h3>Eventos Actuales = <span class="fwb">@ViewData["Eventos"]</span></h3>
            <h3>Eventos Finales    = <span class="fwb"> @ViewData["EventosFinales"]</span></h3>
        </div>    
        <div class="clear"></div>
        <div  class="resumen fr saldos">
            <input type="submit" class="freshbutton-blue" value="Confirmar Compra"/>
            <a class="freshbutton-blue" href="Buy">Cancelar</a>
        </div>
    }
</div>
}