@model EvolucionaMovil.Models.PaqueteVM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3 class="Notification" style="padding:10px;padding-left:50px;">Está seguro que deseas borrar este paquete</h3>
<br/>
<fieldset>
    <legend>Paquete</legend>

    <div class="display-label">Creditos</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Creditos)
    </div>

    <div class="display-label">PaqueteId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaqueteId)
    </div>

    <div class="display-label">Precio</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Precio)
    </div>

    <div class="display-label">PrecioString</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrecioString)
    </div>

    <div class="display-label">PrecioPorEvento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrecioPorEvento)
    </div>

    <div class="display-label">NumeroPaquete</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroPaquete)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
