@model EvolucionaMovil.Models.PaqueteVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Paquete</legend>

    <div class="display-label">Creditos</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Creditos)
    </div>

    <div class="display-label">PaqueteId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaqueteId)
    </div>

    <div class="display-label">Precio</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Precio)
    </div>

    <div class="display-label">PrecioString</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrecioString)
    </div>

    <div class="display-label">PrecioPorEvento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrecioPorEvento)
    </div>

    <div class="display-label">NumeroPaquete</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroPaquete)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
