@model IEnumerable<EvolucionaMovil.Models.PayCenterVM>
@section Javascript{
    <script src="@Url.Content("~/Scripts/PayCenters.js")" type="text/javascript"></script>
}


@{
    ViewBag.Title = "PayCenters";
}

<p class="fr newPaycenter">
    @Html.ActionLink("Nuevo registro", "Registrar")
</p>
<h1>PayCenters</h1>
<div id="grdPaycenters" />
@*<table>
    <tr>
        <th >
            Prospecto
        </th>
        <th>
            Nombre
        </th>
        <th>
            Representante
        </th>
        <th>
            Celular
        </th>
        <th>
            Email
        </th>
        <th>
            FechaIngreso
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prospecto.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Representante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIngreso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PayCenterId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PayCenterId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PayCenterId })
        </td>
    </tr>
}
</table>*@
