@model EvolucionaMovil.Models.CuentaBancariaVM

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Ajax.BeginForm("Create","CuentasBancarias", null)) {
    @Html.ValidationSummary(true)
    <fieldset>
        <input type="hidden" class="hddBancoId" name="BancoId" value="@Model.BancoId"/>
        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroCuenta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroCuenta)
            @Html.ValidationMessageFor(model => model.NumeroCuenta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Titular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Titular)
            @Html.ValidationMessageFor(model => model.Titular)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClabeInterbancaria)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClabeInterbancaria)
            @Html.ValidationMessageFor(model => model.ClabeInterbancaria)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroDeTarjeta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroDeTarjeta)
            @Html.ValidationMessageFor(model => model.NumeroDeTarjeta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RFC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RFC)
            @Html.ValidationMessageFor(model => model.RFC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Detalles)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Detalles)
            @Html.ValidationMessageFor(model => model.Detalles)
        </div>

        <div class="editor-label labelForCheck">
            @Html.LabelFor(model => model.Comprobante)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comprobante)
            @Html.ValidationMessageFor(model => model.Comprobante)
        </div>
        <p>
            <input type="submit" class="freshbutton-blue small" id="btnSaveCuenta" value="Guardar" />
        </p>
    </fieldset>
}

