@model EvolucionaMovil.Models.CuentaBancariaVM

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>

<fieldset>
    <legend>CuentaBancaria</legend>

    <div class="display-label">NumeroCuenta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroCuenta)
    </div>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">Titular</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titular)
    </div>

    <div class="display-label">ClabeInterbancaria</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClabeInterbancaria)
    </div>

    <div class="display-label">NumeroDeTarjeta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroDeTarjeta)
    </div>

    <div class="display-label">RFC</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RFC)
    </div>

    <div class="display-label">FechaCreacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaCreacion)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
