@model IEnumerable<EvolucionaMovil.Models.CuentaBancariaVM>
@section Javascript{
    <script src="@Url.Content("~/Scripts/CuentasBancarias.js")" type="text/javascript"></script>
}
@{
    ViewBag.Title = "Cuentas de depósito";
}

<div class="formLeft cuencont">
<h2>Cuentas de depósito</h2>
    <div class="editor-label"><label for="BancoId">Bancos</label></div>        
            <div class="editor-field">                
                <select id="BancoId" name="BancoId">
                    @foreach (EvolucionaMovil.Models.BancoVM banco in ViewBag.Bancos)
                    {
                        <option id="@banco.BancoId">@banco.Nombre</option>
                    }
                </select>
                <input type="hidden" id="hddBancos" value="@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Bancos)"/>
            </div> 
            <div id="cuentas">
               @{bool showCuenta = true;}
               @foreach (var item in Model)
               {
                <div id="cuenta_@(item.CuentaId)" class="cuenta closed @item.BancoId">
                   <a class="open"></a>
                   <input type="hidden" class="hddProvs" name="Proveedores" value="@Newtonsoft.Json.JsonConvert.SerializeObject(item.Proveedores)" />
                    @if (!string.IsNullOrEmpty(item.NumeroCuenta))
                    {
                        showCuenta = false;
                        <h3><span class="field">No. Cuenta: </span><span class="value fwb">@item.NumeroCuenta</span></h3>
                    }
                    else if (!string.IsNullOrEmpty(item.ClabeInterbancaria))
                    {
                        <h3><span class="field">Clabe Int.: </span><span class="value fwb">@item.ClabeInterbancaria</span></h3>
                    }
                    else if (!string.IsNullOrEmpty(item.NumeroDeTarjeta))
                    {
                        <h3><span class="field">No. Tarjeta: </span><span class="value fwb">@item.NumeroDeTarjeta</span></h3>
                    }
                    
                    <div class="detail">
                        <div><h4 class="fwb"><span class="Titular">Titular:</span><p>@item.Titular</p></h4></div>
                        @if (showCuenta)
                        {
                            <div><span>No. Cuenta:</span><p>@item.Nombre</p></div>
                        }
                        <div><span>Nombre:</span><p>@item.Nombre</p></div>
                        <div><span>Clabe Int.:</span><p>@item.ClabeInterbancaria</p></div>
                        <div><span>Num. Tarjeta:</span><p>@item.NumeroDeTarjeta</p></div>
                        <div><span>Detalles:</span><p>@item.Detalles</p></div>
                        <div><span>Req. Ficha:</span><p>@item.Comprobante</p></div>
                        <div><span></span><p><a class="fwb btnEdit">[ Editar cuenta ]</a></p></div>
                        <input type="hidden" class="CuentaId" name="CuentaId" value="@item.CuentaId"/>
                    </div>
                </div>
               }
               <a id="newCuenta" href="javascript:void(0);">+ Agregar nueva cuenta</a>
            </div>
</div>
<div class="formRight provcont">
<h2>Proveedores</h2>
<div class="tiposervicio">
<a tiposerv="0">Pago de Servicios</a>
<a tiposerv="1">Recargas Electrónicas</a>
</div>
    <form action="saveConfig" id="configForm">
        <input type="hidden" id="CuentaBancariaId" name="CuentaBancariaId" />
        <div id="proveedores">
                   @{var i =0;}
                   @foreach (EvolucionaMovil.Models.ProveedorVM item in ViewBag.Proveedores)
                   {
                    <div class="proveedor @item.ProveedorId">
                            <h3><input type="checkbox" value="@item.ProveedorId" tipo="@item.TipoCuenta"/> @item.Nombre</h3>
                            <input type="hidden" name="Proveedores[@i].ProveedorId" value="@item.ProveedorId" />
                            <input type="hidden" name="Proveedores[@i].Selected" class="hddSelected" />
                    </div>
                       i++;
                   }
                   <div class="tar">
                        <input type="button" class="freshbutton-blue small" id="saveConfig" value="Guardar cambios" />
                    </div>
          </div>
      </form>
</div>
<div id="cuentaForm">
    @Html.Partial("Create",new EvolucionaMovil.Models.CuentaBancariaVM())
</div>
<div id="cuentaDetail">
    
</div>
