@model EvolucionaMovil.Models.TicketVM
@section Styles{
    <link href="@Url.Content("~/Content/Ticket.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "Ticket";
}
<div class="formLeft ticketimage"></div>
<div class="formRight">

<div id="Ticket">
    @if (!string.IsNullOrEmpty(ViewBag.LogoPayCenter))
    {
        <img id="logo" src="@ViewBag.LogoPayCenter" />        
    }
    else
    { 
        <img id="logo" src="../../Content/themes/base/images/logo_evoluciona.jpg" />
    }
    <div class="clear">
    </div>
    <h1>
        Pago de servicio en Proceso</h1>
    <h2>
        Su pago en este momento está siendo procesado.</h2>
    <span id="Fecha">
        @Html.DisplayFor(model => model.FechaCreacionString)
    </span>
    <span id="Folio">Folio @Html.DisplayFor(model => model.Folio)
    </span>
    <fieldset>
        <div class="display-label">
            Vendedor</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PayCenterName)
        </div>
        <div class="display-label">
            Servicio</div>
        <div class="display-field fwb fsl">
            @Html.DisplayFor(model => model.TipoServicio)
        </div>
        @if (Model.DetallePagos != null)
        {
            foreach (var item in Model.DetallePagos)
            { 
            <div class="display-label">
                @item.Campo</div>
            <div class="display-field">@item.Valor</div> 
            }
        }
        <div class="display-label">
            Fecha Vencimiento</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FechaVencimientoString)
        </div>
        @if (!string.IsNullOrEmpty(Model.ClienteNombre))
        {
            <div class="display-label">
                Nombre Cliente</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.ClienteNombre)
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.ClienteEmail))
        {
            <div class="display-label">
                Email Cliente</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.ClienteEmail)
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.ClienteTelefono))
        {
            <div class="display-label">
                Teléfono Cliente</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.ClienteTelefono)
            </div>
        }
        @if (@ViewBag.MostrarComision == true)
        {
            <div class="display-label">
                Comision</div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Comision)
            </div>
        }
        <div class="display-label">
            Importe</div>
        <div class="display-field fwb fsxl">
            @Html.DisplayFor(model => model.ImporteString)
        </div>
        @if (!string.IsNullOrEmpty(Model.Leyenda))
        {
            <div id="Leyenda">
                @Html.DisplayFor(model => model.Leyenda)
            </div>
        }
        <div id="footer1">
                "ESTE COMPROBANTE NO ES VÁLIDO PARA EFECTOS FISCALES EN TERMINOS DE OFICIO DE NO 325-SAT-VII-B-2650 DE FECHA 1 DE DICIEMBRE DE 1997"
        </div>
    </fieldset>
    <div id="printOptions">
    
        <button id="print" type="button" media="print" onclick="window.print(); return false;" class="freshbutton-blue">Imprimir</button>
        <input type="checkbox" id="chkExpand" onclick="setWidth()" />
        <label for="chkExpand" id="lblExpand">Ajustar ancho del ticket a hoja de impresión</label>    
            <script type="text/javascript">
                function setWidth() {
                    if ($("#chkExpand").prop("checked")) {
                        $("head").append($('<style media="print"> body, #Ticket {width:100%!important} </style>'));
                    } else {
                        $('style[media="print"]').remove();
                    }
                }
            </script>
        </div>
</div>
</div>
<div class="actions">
    <a class="freshbutton-blue" href="/PagoServicios/Create">Registrar otro pago</a>
    <a class="freshbutton-blue" href="/PagoServicios">Ir a Histórico</a>
    </div>
    
