@model IEnumerable<EvolucionaMovil.Models.Resumen_Movimientos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            MovimientoOrigen
        </th>
        <th>
            Tipo
        </th>
        <th>
            Motivo
        </th>
        <th>
            Monto
        </th>
        <th>
            PayCenter
        </th>
        <th>
            Estatus
        </th>
        <th>
            Saldo Actual
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @if (item.IsAbono)
            {
                <span>ABONO</span>
            }
            else
            {
                <span class="cargo">CARGO</span>
            }
        </td>
        <td>
            <span class="fwb">
                @item.Motivo
            </span>
        </td>
        <td>
        @if (item.IsAbono)
            {
                <span>@item.Monto</span>
            }
            else
            {
                <span class="cargo">@item.Monto</span>
            }
         </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td class="status">
            <span class="@item.Status">@Html.DisplayFor(modelItem => item.Status)</span>
        </td>
        <td class="fwb" align="right">
        @if (item.SaldoActual < 0)
        {
            <span class="cargo">
            @Html.DisplayFor(modelItem => item.SaldoActual)
            </span>
        }
        else
        {
            @Html.DisplayFor(modelItem => item.SaldoActual)
        }
        </td>
    </tr>
}

</table>
