@model IEnumerable<EvolucionaMovil.Models.SP_ResumenMovimientosEmpresaSel_Result>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post" name="filterForm" action="">
    <input type="text" name="PayCenterName" placeholder = "PayCenter" value="@ViewBag.Filtro.PayCenterName"/>
    <input type="text" name="Status" placeholder = "Status" value="@ViewBag.Filtro.Status"/>
    <input type="text" name="Motivo" placeholder = "Motivo" value="@ViewBag.Filtro.Motivo"/>
    <input type="text" name="MovimientoOrigen" placeholder = "Movimiento" value="@ViewBag.Filtro.MovimientoOrigen"/>
    <input type="text" name="FechaIni" placeholder = "Fecha Inicial" value="@ViewBag.Filtro.FechaIni"/>
    <input type="text" name="FechaFin" placeholder = "Fecha Final" value="@ViewBag.Filtro.FechaFin"/>
    <input type="submit" value ="Filtrar"/>
</form>
<table>
    <tr>
        <th>
            MovimientoOrigen
        </th>
        <th>
            Tipo
        </th>
        <th>
            Motivo
        </th>
        <th>
            Monto
        </th>
        <th>
            PayCenter
        </th>
        <th>
            Estatus
        </th>
        <th>
            Saldo Actual
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @if (item.IsAbono)
            {
                <span>ABONO</span>
            }
            else
            {
                <span class="cargo">CARGO</span>
            }
        </td>
        <td>
            <span class="fwb">
                @item.Motivo
            </span>
        </td>
        <td>
        @if (item.IsAbono)
            {
                <span>@item.Monto</span>
            }
            else
            {
                <span class="cargo">@item.Monto</span>
            }
         </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td class="status">
            <span class="@item.Status">@Html.DisplayFor(modelItem => item.Status)</span>
        </td>
        <td class="fwb" align="right">
        @if (item.SaldoActual < 0)
        {
            <span class="cargo">
            @Html.DisplayFor(modelItem => item.SaldoActual)
            </span>
        }
        else
        {
            @Html.DisplayFor(modelItem => item.SaldoActual)
        }
        </td>
    </tr>
}

</table>
